#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  #video-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  
  .register{
    /* max-width: 978px; */
    /* width: 100vw; */
    margin: 0 900px;
    display:flex;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    background-color: white;
  }
  
  .register span{
    color: #8997a5;
  }
  
  #form{
    max-width: 320px;
    width: 100vw;
    margin: 0em auto;
  }
  
  #form >  input, .btn{
    border: 1px solid #e9ecef;
    padding: .9em 1em;
  }
  
  #form > input:focus{
    outline: none;
  }
  
  #form > .btn{
    background-color: #003049;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
  }
  
  .flex{
    display: flex;
    gap: 1em;
  }
  
  .flex-col{
    flex-direction: column;
  }
  
  .register {
    margin: 50px;
    padding: 8em 600px;
  }
  
  .register .col-2 img{
    width: 480px;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
  }
  
  @media screen and (min-width: 860px)  {
    .register .col-2 img{
      display: initial;
    }
  }